@model PagedList.IPagedList<QuanLyNhaTro.KhachHang>

@using PagedList.Mvc;

@{
	ViewBag.Title = "Danh sách khách hàng";
	Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}               
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
<link href="~/Content/fontawesome-free-6.4.0-web/css/all.min.css" rel="stylesheet" />

<h2>Danh sách khách hàng</h2>
@{
	QuanLyNhaTroEntities db = new QuanLyNhaTroEntities();
	var dsTaiKhoan = from s in db.TaiKhoans select s;
}


@using (Html.BeginForm("dsKhachHang", "KhachHang", FormMethod.Get))
{
    <p>
        Tìm theo tên tài khoản: @Html.TextBox("searchString", ViewBag.Current as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>
            Họ và tên
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            <a href="@Url.Content("/KhachHang/dsKhachHang?sortOrder=" + ViewBag.GioitinhSortParm)">
               Giới tính
                <i class="fa-solid fa-chevron-down"></i>
            </a>
            @*@Html.ActionLink("Giới tính", "dsKhachHang", new { sortOrder = ViewBag.GioitinhSortParm, currentFilter = ViewBag.CurrentFilter })*@
        </th>
        <th>
            Email
        </th>
        <th>
            CCCD
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Tên tài khoản
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            Cập nhật
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hoten_KH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sodt_KH)
            </td>
            <td class="text-center">
                @{

                    if (item.gioitinh_KH == 1)
                    {
                        <h5>Nam</h5>
                    }
                    else
                    {
                        <h5>Nữ</h5>

                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email_KH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cccd_KH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diachi_KH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.password)
            </td>
            <td class="text-center">
                <a href="@Url.Content("/KhachHang/suaKhachHang?userName=" + item.userName)" id="btnEdit" class="edit-icon" onclick="" style="font-size:16px;">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>

            </td>
        </tr>
    }

</table>

<br />

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("dsKhachHang",
       new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


<a href="/Accounts/TaiKhoan">
    Danh sách tài khoản
</a>
