@model IEnumerable<QuanLyNhaTro.NhaTro>

@{
	ViewBag.Title = "Index";
	Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Small Business - Start Bootstrap Template</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="~/Assets/Phong/assets/favicon.ico" rel="stylesheet" />
	<link href="~/Assets/Phong/css/styles.css" rel="stylesheet" />
	<link href="~/Assets/Phong/css/index.css" rel="stylesheet" />

</head>
<body>
	<!-- Responsive navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-5">
			<a class="navbar-brand" href="#!">Start Bootstrap</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
					<li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Page Content-->
	<p>
</p>
	<div class="container px-4 px-lg-5">
		<span class="button">
			@Html.ActionLink("Thêm Phòng", "Create")

		</span>
		<!-- Content Row-->
		@{
			var i = 0;
		}
		<div class="row gx-4 gx-lg-5" style="flex-wrap: wrap">
			@foreach(var item in Model.Phongs)
			{
				i += 1;

				<div class="col-md-4 mb-5">
					<div class="card h-100">
						<div class="card-body">
							<h2 class="card-title">
								Phòng @i
							</h2>
							<p class="card-text">
								<div class="room__info-list">
									<div class="room__info-item">
										<div class="room__info-item-noiThat">
											<p>
												Nội thất:
												@Html.DisplayFor(modelItem => item.)

											</p>
										</div>
										<div style="display:flex; justify-content:space-between;">
											<div class="room__info-item-soNNguoi">
												<p>
													Số người ở tối đa:
													@Html.DisplayFor(modelItem => item.songuoi_P)

												</p>
											</div>
											<div class="room__info-item-dienTich">
												<p>
													Diện tích:
													@Html.DisplayFor(modelItem => item.dientich_P)

												</p>

											</div>
											<div class="room__info-item-gac">
												<p>
													Gác: 
													@Html.DisplayFor(modelItem => item.gac_P)

												</p>
											</div>
										</div>
										
										<div class="room__info-item-ghiChu">
											<p>
												Ghi chú:
												@Html.DisplayFor(modelItem => item.ghichu_P)

											</p>
										</div>
										<div style="display: flex; justify-content: space-around;">
											<div class="room__info-price">

												Trạng thái: @Html.DisplayFor(modelItem => item.trangthai_P)
											</div>

										</div>
									</div>

								</div>

							</p>


						</div>
						<div class="card-footer " style="display: flex">
							<div class="button">
								@Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.stt_P })

							</div>
							<div class="button">
								@Html.ActionLink("Xóa", "Delete", new { id = item.stt_P })

							</div>
						</div>
					</div>
				</div>
			}
		</div>
		
	</div>
	
	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
	</footer>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="~/Assets/Phong/js/scripts.js"></script>
</body>

</html>
