@model QuanLyNhaTro.Phong

@{
	ViewBag.Title = "Thêm Phòng Trọ";
	Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}



@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">

		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })



		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-sm-3 col-form-label text-primary" style="font-size:20px">
					Số Người
				</label>
				<div class="col-sm-9">
					@Html.EditorFor(model => model.songuoi_P, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.songuoi_P, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>


		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-sm-3 col-form-label text-primary" style="font-size:20px">
					Nội Thất
				</label>
				<div class="col-sm-9">
					@Html.EditorFor(model => model.noithat_P, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.noithat_P, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>



		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-sm-3 col-form-label text-primary" style="font-size:20px">
					Trạng Thái
				</label>
				<div class="col-sm-9">
					<div class="form-control row">
						<input type="radio" value="1" name="trangthai_P" />
						<label style="margin-left:10px">Có Người Ở</label>
						<input style="margin-left:30px" type="radio" value="0" name="trangthai_P" />
						<label style="margin-left:10px">Còn Trống</label>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-sm-3 col-form-label text-primary" style="font-size:20px">
					Diện Tích
				</label>
				<div class="col-sm-9">
					@Html.EditorFor(model => model.dientich_P, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.dientich_P, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-sm-3 col-form-label text-primary" style="font-size:20px">
					Gác
				</label>
				<div class="col-sm-9">
					<div class="row form-control" >
						<input  type="radio" value="1" name="gac_P" />
						<label style="margin-left:10px;">Có</label>
						<input style="margin-left:30px" type="radio" value="0" name="gac_P" />
						<label style="margin-left:10px">Không</label>
					</div>
				</div>
			</div>
		</div>
		

		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-sm-3 col-form-label text-primary" style="font-size:20px">
					Ghi chú
				</label>
				<div class="col-sm-9">
					@Html.EditorFor(model => model.ghichu_P, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ghichu_P, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-sm-3 col-form-label text-primary" style="font-size:20px">
					ID Nhà Trọ
				</label>
				<div class="col-sm-9">
					@Html.EditorFor(model => model.id_NT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
					@Html.ValidationMessageFor(model => model.id_NT, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group row">
				<label class="col-sm-3 col-form-label text-primary" style="font-size:20px">
					Tên Phòng
				</label>
				<div class="col-sm-9">
					@Html.EditorFor(model => model.ten_P, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ten_P, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Thêm" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Trở về danh sách phòng", "DanhSachPhongTro", new { id = Model.id_NT })
</div>


